@page
@model cricbuzz.TestRankings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">View Test Rankings</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Add New Test Ranking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestRanking[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestRanking[0].PlayerName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TestRanking[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestRanking) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryName)
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-secondary" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" class="btn btn-success" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
