@page
@model cricbuzz.OdiRankings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">ODI Ranking Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OdiRanking.PlayerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OdiRanking.PlayerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OdiRanking.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OdiRanking.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OdiRanking.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OdiRanking.Country.CountryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-secondary" asp-route-id="@Model.OdiRanking.Id">Edit</a> |
    <a asp-page="./Index">View ODI Rankings</a>
</div>
